/***********************TAG SELECTOR*******************/

html{
}
body {
	height: 100%;
	margin: 0px;
	text-align: center;
}

h1 {
	font-family: serif;
	color: darkcyan;
}

h2 {
	font-family: serif;
	font-weight: normal;
}

p {
	font-family: serif, Arial;
}


a {
	text-decoration: none;
	color: darkcyan;
}

a:hover {
	color: blue;
}

ul {
	list-style-type: none;
	font-family: Arial;
}

img {
}

/************ RWD ************/
* { /*to include padding and border in the width and height*/
	box-sizing: border-box; 
}


/***********************Class SELECTOR*******************/

/******navbar******/
.nav {
	background-color: #333;
	overflow: hidden;
	position: fixed;
	width: 100%;
}
.nav a {
  display: block;
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.nav a:hover {
  background-color: #111;
}
.nav a.active {
	background-color: darkcyan;
}
.nav .nav-icon {
	display: none;
}
/* When the screen is less than 600 px, 
 * hide all except for icon. Show the link 
 * that contains should open and close the nav (.nav-icon) */
@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {
    display: none;
  }
  .nav a.nav-icon {
    float: right;
    display: block;
  }
}
/* The "responsive" class is added to the nav with 
 * JavaScript when the user clicks on the nav-icon. 
 * This class makes the nav look good on small screens 
 * (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .nav.responsive {
    position: relative;
  }
  .nav.responsive a.nav-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/******home******/
.home-box {
	padding: 25px;
	background-color: powderblue;
	height: 600px;
}
.home-box-content {
	display: flex;
	flex-direction: column;
	height: 400px;
	justify-content: center;
	align-items: center;
}


/******bio******/
.bio-box {
	background-color: white;
	height: 100%;
	padding: 100px;
}
.bio-box-text {
	text-align: left;
	padding: 20px;
	font-size: 18px;
	line-height: 1.5; 
}
.bio-img {
	border-radius: 20%;
	width: 60%;
	height: auto;
	padding: 20px;
}
/***RWD when bigger than tablets***/
@media only screen and (min-width: 768px) {
  .bio-box {
	overflow: hidden;
  }
  .bio-box-content {
	  float: left;
	  width: 50%;
  }
}


/******skills******/
.skills-box {
	background-color: #EAF6F6;
	height: 100%;
	padding: 100px;
}
/***skills-radar***/
.skills-box-research {
	padding: 20px;
	text-align: left;
}
.zc-body {
  background-color: #fff;
}
.chart--container {
  width: 100%;
  height: 100%;
  min-height: 530px;
  border-radius: 5%;
}
.zc-ref {
  display: none;
}
/***skills-bar***/
.skills-box-other {
	padding: 20px;
	text-align: left;
}
.skills-icon {
	padding-right: 20px;
	padding-top: 20px;
}
.skills-bar-container {
	background-color: black;
	width: 100%;
}
.skills-bar-innercontent {
	background-color: darkcyan;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: right;
}
.r {
	width: 90%;
}
.latex {
	width: 80%;
}
.python {
	width: 70%;
}
.gis {
	width: 90%;
}
.html {
	width: 90%;
}
.css {
	width: 80%;
}
.js {
	width: 60%;
}
/***RWD when bigger than tablets***/
@media only screen and (min-width: 768px) {
  .skills-box {
	overflow: hidden;
  }
  .skills-box-research {
	  float: left;
	  width: 50%;
  }
  .skills-box-other {
	  float: left;
	  width: 50%;
  }
}



/******experiences******/
.experiences-box {
	background-color: white;
	height: 100%;
	padding: 100px;
}
.img-logo {
	width: 60px;
	height: auto;
	margin: auto;
}
.lund {
	width: 40px;
}
.shimane {
	width: 20px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #EAF6F6;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #EAF6F6;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #EAF6F6;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #EAF6F6 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #EAF6F6;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 768px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #EAF6F6 transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
/******educations******/
.educations-box {
	background-color: #EAF6F6;
	height: 100%;
	padding: 100px;
}

/* The actual timeline (the vertical ruler) */
.educations-timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.educations-timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.educations-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.educations-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.educations-container-left {
  left: 0;
}

/* Place the container to the right */
.educations-container-right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.educations-container-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.educations-container-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.educations-container-right::after {
  left: -16px;
}

/* The actual content */
.educations-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 768px) {
/* Place the timelime to the left */
  .educations-timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .educations-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .educations-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .educations-container-left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .educations-container-right {
    left: 0%;
  }
}


/******projects******/
.projects-box {
	background-color: white;
	height: 100%;
	padding: 100px;
}

/******posts******/
.posts-box {
	background-color: #EAF6F6;
	height: 100%;
	padding: 100px;
}

.posts-box-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/******contact******/
.contact-box {
	background-color: white;
	height: 100%;
	padding: 100px;
}
.contact-icon{
	padding: 20px;
}
/******footer******/
.footer-box {
	background-color: #EAF6F6;
	height: 100%;
	padding: 100px;
}


