/***********************TAG SELECTOR*******************/

html{
}
body {
	height: 100%;
	margin: 0px;
	text-align: center;
}

h1 {
	font-family: COPPERPLATE, "Baloo 2", Caveat, Papyrus, fantasy, serif;
	color: darkcyan;
}

h2 {
	font-family: COPPERPLATE, "Baloo 2", Caveat, Papyrus, fantasy, serif;
	font-weight: normal;
}

p {
	font-family: serif, Arial, "Baloo 2", Caveat, Papyrus, fantasy, serif;
}


a {
	margin: 20px;
	text-decoration: none;
	color: darkcyan;
}

a:hover {
	color: blue;
}

img {
}

/***********************Class SELECTOR*******************/

/******navbar******/
.navbar {
}

.navbar-brand {
	font-weight: bold;
}

.nav-item {
}

/******home******/
.home-box {
	padding: 25px;
	background-color: powderblue;
	height: 600px;
}
.home-box-content {
	display: flex;
	flex-direction: column;
	height: 400px;
	justify-content: center;
	align-items: center;
}

/******bio******/
.bio-box {
	background-color: white;
	height: 100%;
	padding: 100px;
}
.bio-box-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bio-box-content-text {
	text-align: left;
	width: 40%;
	padding: 20px;
}
.bio-box-img {
	width: 40%;
	padding: 20px;
}
.bio-img {
	border-radius: 20%;
	height: auto;
	max-width: 400px;
}


/******skills******/
.skills-box {
	background-color: #EAF6F6;
	height: 100%;
	padding: 100px;
}
.skills-box-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

/***skills-radar***/
.skills-box-content-research {
	width: 40%;
	padding: 20px;
}
.zc-body {
  background-color: #fff;
}
.chart--container {
  width: 100%;
  height: 100%;
  min-height: 530px;
  border-radius: 5%;
}
.zc-ref {
  display: none;
}
/***skills-bar***/
.skills-box-content-other {
	width: 40%;
	padding: 20px;
	text-align: left;
}
.skills-icon {
	padding: 20px;
}
.skills-bar-container {
	background-color: black;
	width: 100%;
}
.skills-bar-innercontent {
	background-color: darkcyan;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: right;
}
.r {
	width: 90%;
}
.latex {
	width: 80%;
}
.python {
	width: 70%;
}
.gis {
	width: 90%;
}
.html {
	width: 90%;
}
.css {
	width: 80%;
}
.js {
	width: 60%;
}

/******experiences******/
.experiences-box {
	background-color: white;
	height: 100%;
	padding: 100px;
}
.experiences-box-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.experiences-img {
	height: auto;
	width: 200px;
	max-width: 400px;
	margin: auto;
}
.lund {
	height: auto;
	width: 80px;
}
.shimane {
	height: auto;
	width: 60px;
}
/******educations******/
.educations-box {
	background-color: #EAF6F6;
	height: 100%;
	padding: 100px;
}

.educations-box-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/******projects******/
.projects-box {
	background-color: white;
	height: 100%;
	padding: 100px;
}

.projects-box-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/******posts******/
.posts-box {
	background-color: #EAF6F6;
	height: 100%;
	padding: 100px;
}

.posts-box-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/******contact******/
.contact-box {
	background-color: white;
	height: 100%;
}
.contact-icon{
	padding: 20px;
}
/******footer******/
.footer-box {
	background-color: #EAF6F6;
	height: 100%;
	padding: 100px;
}


